*{
    box-sizing: border-box;
}

body{
    background-color: #f7f7ff;
    width: 100vw;
}

/********* header  *********/

header{
    border: 5px solid #414535;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border-left: 0;
    border-right: 0;
    padding: 20px;

}
h1{
    font-family: Helvetica sans-serif;
    font-size: 35px;
    color: #414535;
    text-align: center;
}

.myInfo{
    text-align: center;
}
h2{
    font-family: Helvetica, sans-serif;
    font-size: 25px;
}

h3{
    font-size: 23px;
}

.location{
    font-family: Helvetica;
    font-size: 20px;
}
p{
    font-family: Helvetica;
}
.email{
    font-family: Helvetica;
    text-decoration: none;
    color: #618985;
}
.headShot{
    width: 250px;
    border-radius: 50%;
    margin: 30px;
    height: 260px;
}

.myInfo{
    display: flex;
    flex-direction: column;
}

.content{
    text-align: center;
}

/****** first Column ****/
.firstColumn{
    width: 98vw;
}

span{
    color: #414535;
}
.secondColumn{
    width: 98vw;
}

.introduction{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.stack{
    color: #618985;
}

i{
    color: #618985;
    width: 30px;
    display: inline-block;
}
.projects{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 20px;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectName{
    text-align: center;
}
.pic{
    width: 300px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.pic {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

a.button1, a.button2, a.button3, a.button4{
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    text-decoration:none;
    color: black;
    text-align: center;
    transition: all 0.2s;
    margin-left: auto;
    margin-right:auto;
}


a.button1:hover, a.button2:hover, a.button3:hover, a.button4:hover{
    color:#618985;
    transition: border-width 0.6s linear;
}

 a:hover {
    border: 2px solid#618985;
    overflow: hidden;      
}

.links{
    display: flex;
    flex-direction: row;
}

.divide{
    font-size: 30px;
}
a.prev, a.next{
    margin-left: auto;
    margin-right: auto;
}

/****** second column ****/
.skills{
    background-color: white;
    width: 90vw;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.bar{
    background-image: linear-gradient(#618985, #bdd5ea);
    border-radius: 20px;
    height: 2vh;
}

.education{
    background-color: white;
    width: 90vw;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.school{
    padding: 15px;
}

footer{
    text-align: center;
    margin-top: 20px;
    background-color: white;
    padding: 12px;
}

@media only screen and (min-width: 680px){
    header{
        border: 5px solid #414535;
        margin: 8px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        border-left: 0;
        border-right: 0;
    
    }
    h1{
        font-size: 45px;
        text-align: left;
    }

    .myInfo{
        text-align: left;
    }
    
/****** first Column ****/
    .firstColumn{
        width: 65vw;    
    }  
    .secondColumn{
        width: 35vw;
    } 
    .content{
        display:flex;
        flex-direction:row;
        text-align: left;
    }
    .introduction{
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .pic{
        width: 500px;
        height: 380px;
    }
    .skills{
        width: 30vw;
        padding: 20px;
        border-radius: 10px;
        font-size: 20px;
    }
    .education{
        width: 30vw;
        text-align: left;
    }
    
} 